.final{
    height: 69vh;
}

.parte1{
    margin: 12vh 7vw;
    display: flex;
    justify-content: space-around;
}

.coluna{
    display: flex;
    flex-direction: column;
}
.coluna p{
    padding: 20px 0;
    font-size: 12px;
    color: #919496;
}
.coluna a{
    padding-top: 3px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight:lighter;
    line-height: 1.5;
}

.colunaRedes span{
    display: flex;
}

.parte2{
    margin: 0 7vw;
    display: flex;
    justify-content: space-between;
}

.parte2 .p1, .p1 a{
    padding: 0 10px;
    display: flex;
    font-size: 12px;
    font-weight: 100;
}

.parte2 .p2, .p2 a{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 100;
}